<div class="row">
    <div class="col-md- offset-md-">
        <div class="wrapper wrapper--w680">
            <div class="card card-4" style="background-color: white; opacity : 0.97;">
                <div class="card-header text-center">
                    <br>
                    <h2>Administrador de Productos</h2>
                    <br>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group form-group">
                                    <label class="label">PRODUCTO</label>
                                    <input 
                                    class="input--style-4" 
                                    type="email" 
                                    id="email" 
                                    name="email" 
                                    maxlength="100"
                                    pattern="[a-zA-Z0-9!#$%&amp;'*_+-]([\.]?[a-zA-Z0-9!#$%&amp;'*_+-])+@[a-zA-Z0-9]([^@&amp;%$\/()=?¿!.,:;]|\d)+[a-zA-Z0-9][\.][a-zA-Z]{2,4}([\.][a-zA-Z]{2})?"
                                    formControlName="email"/>
                                    <span class="invalid-feedback"></span>
                                </div>
                                <button class="btn btn--green btn--pill">Buscar</button>
<br>
<br>
                            </div>
                            <div class="col-2">
                                <div class="input-group form-group">
                                    <label class="label">ID PRODUCTO</label>
                                    <input class="input--style-4 input-number" type="text" id="celular" name="celular"
                                        minlength="9" maxlength="9" formControlName="celular" readonly/>
                                    <span class="invalid-feedback">Celular, no puede estar en blanco</span>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group form-group">
                                    <label class="label">DESCRIPCION DE PRODUCTO</label>
                                    <input 
                                    class="input--style-4" 
                                    type="email" 
                                    id="email" 
                                    name="email" 
                                    maxlength="100"
                                    pattern="[a-zA-Z0-9!#$%&amp;'*_+-]([\.]?[a-zA-Z0-9!#$%&amp;'*_+-])+@[a-zA-Z0-9]([^@&amp;%$\/()=?¿!.,:;]|\d)+[a-zA-Z0-9][\.][a-zA-Z]{2,4}([\.][a-zA-Z]{2})?"
                                    formControlName="email"/>
                                    <span class="invalid-feedback"></span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group form-group">
                                    <label class="label">CATEGORIA DEL PRODUCTO:</label>
                                    <input 
                                    class="input--style-4" 
                                    type="email" 
                                    id="email" 
                                    name="email" 
                                    maxlength="100"
                                    pattern="[a-zA-Z0-9!#$%&amp;'*_+-]([\.]?[a-zA-Z0-9!#$%&amp;'*_+-])+@[a-zA-Z0-9]([^@&amp;%$\/()=?¿!.,:;]|\d)+[a-zA-Z0-9][\.][a-zA-Z]{2,4}([\.][a-zA-Z]{2})?"
                                    formControlName="email"/>
                                    <span class="invalid-feedback"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row row-space">
                            <div class="col-2">
                                <label class="label">PRECIO:</label>
                                <input 
                                class="input--style-4" 
                                type="email" 
                                id="email" 
                                name="email" 
                                maxlength="100"
                                pattern="[a-zA-Z0-9!#$%&amp;'*_+-]([\.]?[a-zA-Z0-9!#$%&amp;'*_+-])+@[a-zA-Z0-9]([^@&amp;%$\/()=?¿!.,:;]|\d)+[a-zA-Z0-9][\.][a-zA-Z]{2,4}([\.][a-zA-Z]{2})?"
                                formControlName="email"/>
                                <span class="invalid-feedback"></span>
                            </div>

                            <div class="col-2">
                                <label class="label">STOCK DISPONIBLE:</label>
                                <input 
                                class="input--style-4" 
                                type="email" 
                                id="email" 
                                name="email" 
                                maxlength="100"
                                pattern="[a-zA-Z0-9!#$%&amp;'*_+-]([\.]?[a-zA-Z0-9!#$%&amp;'*_+-])+@[a-zA-Z0-9]([^@&amp;%$\/()=?¿!.,:;]|\d)+[a-zA-Z0-9][\.][a-zA-Z]{2,4}([\.][a-zA-Z]{2})?"
                                formControlName="email"/>
                                <span class="invalid-feedback"></span>
                            </div>

                        </div>

                        <div class="row row-space">                            
                            <div class="w33">
                                <div class="p-t-15 center">
                                    <button class="btn btn--radius-2 btn--blue" id="registrar"
                                        type="submit">Registrar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>