<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="guest-form-card card">
      <div class="card-header text-center">
        <h2>Para continuar, por favor inicie sesión</h2>
      </div>
      <div class="card-body">
        <form #loginForm="ngForm" (submit)="loginForm.valid && login()"   >
          <div class="form-group">
            <label for="username"> Correo Electrónico</label>
            <input id="user" class="form-control" name="username" [ngClass]="{ 'is-invalid': username.touched && username.invalid}" #username="ngModel" [(ngModel)]="model.username" required>
            <span class="invalid-feedback">Correo electrónico, no puede estar en blanco</span>
          </div>
        
          <div class="form-group">
            <label for="password"> Contraseña </label>
            <input type="password" id="password" class="form-control" name="password" [ngClass]="{ 'is-invalid': password.touched && password.invalid}" #password="ngModel" [(ngModel)]="model.password" required />
            <span class="invalid-feedback">Contraseña, no puede estar en blanco</span>

          </div>

          <div class="form-group">
            <input type="checkbox" id="remember" name="remember" #remember="ngModel" [(ngModel)]="model.remember">
            <label class="ml-1" for="remember">Recordarme</label>
          </div>        
          <button class="btn btn-primary btn-block" [disabled] = "loginForm.invalid" >Iniciar Sesión</button>
          <button class="btn btn-outline-secondary" routerLink="/registro">Registrarse</button>
        </form>
      </div>
    </div>
  </div>
</div>