.cart-item {
  font-size: small;
}

.filters {
  font-size: small;
}

.card,
.form-control,
.btn {
  border-radius: 0;
}

.list-group-item:first-child {
  border-radius: 0;
}

.list-group-item:last-child {
  border-radius: 0;
}

.product-btn {
  font-size: small;
}

.btn-limpiar {
  border-radius: 30%;
  background: #fff;
  border-color: #fff;
}

bi bi-trash3 {
  padding-bottom: 15px;
}

.btn-menos {
  border-radius: 30%;
  background: #fff;
  border-color: rgb(24, 15, 104);
  border-width: 80%;
  margin-left: 10em;
  width: fit-content;
  height: fit-content;
  position: relative;
}
